* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


.input-output-container {
  width: 80%;
  height: 440px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    overflow: auto;
}
.modes-section, .summarize-length-section, .translate-header-section {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  
}

.summarize-length-section{
  justify-content: center;
}
.translate-header-section{
  justify-content: space-around;
}

.input-container,
.output-container {
  width: 100%;
  height: 380px;
  padding: 20px;
}

.input-output-section {
  display: flex;
  
}

.input-container {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.editable {
  height: 90%;
  overflow: auto;
  outline: none;
}
.sub_div {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.generate_sub_div{
  justify-content: center;
}
.output-container {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
.output{
  height: 95%;
  overflow: auto;
}
.summarize-mode{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.slider-section{
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: space-between;
  width: 300px;
}