@font-face {
  font-family:"Pacifico-Regular";
  src: url("../../public/fonts/Pacifico-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
}

.logo{
    font-family: 'Pacifico-Regular', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.input-output-container {
  width: 80%;
  height: 440px;
  margin: 40px auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

  border-radius: 15px;
}

.modes-section,
.summarize-length-section,
.translate-header-section {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.summarize-length-section {
  justify-content: center;
}

.translate-header-section {
  justify-content: space-around;
}

.input-container,
.output-container {
  width: 100%;
  height: 380px;
  padding: 20px;
}

.input-output-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.input-container {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.editable {
  overflow-y: auto;
  outline: none;
}
.sub_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.generate_sub_div {
  justify-content: center;
}
.output-container {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.output {
  overflow: auto;
  height: 300px;
}

.summarize-mode {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.slider-section {
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: space-between;
  width: 300px;
}

.placeholder-text {
  font-style: italic;
  font-weight: 600;
  opacity: 0.3;
  cursor: default;
  font-size: 18px;
  margin: 0;
}

@media only screen and (max-width: 720px) {
  .mobile-nav-container {
    display: flex;
    width: 99.9vw;
    margin: 0 auto;
  }
  .input-output-container {
    width: 99.99vw;
    height: 100vh;
    margin: 0;
  }
  .input-output-section {
    flex-direction: column;
  }
  .input-container,
  .output-container {
    border: none;
  }

  .input-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  }
  .input-container,
  .output-container {
    height: 50vh;
    padding: 20px;
  }
}

@media only screen and (max-width: 280px) {
  .input-output-container {
    width: 99.9vw;
    height: 99vh;
    margin-top: 0px;
  }
  .input-output-section {
    flex-direction: column;
  }
  .input-container,
  .output-container {
    width: 100%;
    height: 270px;
    padding: 4px;
  }
  .input-container {
    overflow-y: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  }
  .sub_div {
    height: 40px;
  }
}
